.employeeSection {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 3rem;
}
.employeeSection h1 {
  text-align: center;
}

.employeeDetails img {
  width: 150px;
  height: 170px;
}
.employeeDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem 3.5rem;
  text-align: center;
}
.employeeInfo {
  text-transform: capitalize;
}

.employeeInfo h2 {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
}

.edit-message {
  color: hsl(125, 67%, 44%);
  text-transform: capitalize;
  text-align: center;
  margin-top: 5px;
}
.employeeContent {
  font-weight: 300;
  padding-top: 20px;
}

@media screen and (min-width: 992px) {
  .employee-profilee {
    width: 90vw;
  }
}

/* pagination button */
.btn {
  padding: 0.35rem 0.75rem;
  letter-spacing: 1.6px;
  font-size: 0.75rem;
  color: var#fff;
  background: hsl(205, 78%, 60%);
  border-radius: 0.75rem;
  border-color: transparent;
  text-transform: uppercase;
  transition: all 0.3s linear;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page-btn {
  width: 2rem;
  height: 2rem;
  background: hsl(205, 90%, 76%);
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: all 0.3s linear;
}
.active-btn {
  background: hsl(205, 86%, 17%);
  color: #fff;
}
.prev-btn,
.next-btn {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 775px) {
  .btn-container {
    margin: 0 auto;
    max-width: 700px;
  }
}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: all 0.3s linear;
}
.edit-btn {
  color: hsl(125, 71%, 66%);
}
.edit-btn:hover {
  color: hsl(125, 67%, 44%);
}
.delete-btn {
  color: hsl(360, 71%, 66%);
}

.delete-btn:hover {
  color: hsl(360, 67%, 44%);
}
.btnn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-top: 9rem;
}
